@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;700&display=swap');



* {
  margin: 0;
  color: #333;
  box-sizing: border-box; 
}

:root {
  --logo: #21086e;
  --logo-background: #f0e991;
  --hover: #00a5f1;
  --hover-dark: #0081bd;
  --mauvelous: #ff9fb2;
  --navy: #03045e;
  --star: #0077b6;
  --cerulean: #00b4d8;
  --sky-blue: #90e0ef;
  --powder-blue: #caf0f8;
}

body {
  margin: 0 auto;
  font-size: 20px;
  min-width: 350px;
  font-family: "Crimson+Text", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  margin: 1em auto;
  text-align: center;
}

.flex-row {
  padding: 0 0.2em;
  margin: 0.1em;
  display: flex;
  align-items: center;
  border-top: 1px solid rgba(153, 152, 152, 0.5);
}

.form-area {
    border: solid 0.8px white;
    margin: 0.8em;
    padding: 0.4em;
}

.nav {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  list-style: none;
  background-color: #dde3e7;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1em 1em;
  z-index: 10;
}

.form {
  max-width: 400px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.form input {
  border: 1px solid #c2bebe;
}

.label, .input, .btn {
  margin: 0.4em 0.3em;
  line-height: 1.4rem;
  font-size: 0.9rem;
  border-radius: 4px;
}

.label {
  margin-bottom: 0.2em;
  text-transform: uppercase;
}

.input {
  padding: 0.3em 0.8em;
  border: none;
}

.btn, .btn-google, .error {
  color: white;
  padding: 0.3em 1.5em;
  cursor: pointer;
  transition: 400ms;
  letter-spacing: 0.1rem;
  margin: 0.7em;
  border: none;
}
.btn-reset {
  background-color: rgb(59, 67, 139);
}

.btn-signin {
  background-color: rgb(59, 139, 83);
}
.btn-google {
  background-color: rgb(148, 71, 71);
}
.btn-signup {
  background-color: rgb(139, 89, 189);
}
.btn:hover {
  text-shadow: 0 0 0.2em rgb(0, 0, 0);
}
.error {
  background-color: rgb(255, 173, 173);
  font-weight: 500;
  color: rgb(184, 0, 0);
  padding: 0.5em;
  margin: 0 auto;
  text-align: center;
}
.success {
  background-color: rgb(173, 255, 174);
  font-weight: 500;
  color: rgb(0, 146, 2);
  padding: 0.5em;
  margin: 0 auto;
  text-align: center;
}
.sub-link {
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 500;
  margin: 0 auto;
}

.sub-link:hover,
.publish:hover {
  color: red;
}

.search-result-list {
  padding: 1em;
}

.search-result-item {
  color: rgba(110, 220, 0, 0.8);
  text-align: center;
}

.item {
  padding: 2em 3em;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.25);
  margin-bottom: 1em;
  font-size: 1rem;
  background-color: #697080;
  display: grid;
  grid-template-rows: 1fr auto 1.2em 1em;
}

.item--image {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  margin: 0 auto;
  border: 1px solid rgba(127, 248, 7, 0.8);
  text-align: center;
}

.title {
  color: whitesmoke;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  text-shadow: 1px 1px 15px rgba(128, 255, 0, 0.8);
  letter-spacing: 0.08rem;
}
.description {
  margin: 0 1em;
  color: whitesmoke;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 6;
  text-align: justify;
  letter-spacing: 0.02rem;
  align-self: center;
}

.small {
  font-size: 0.7rem;
  text-align: center;
}

span {
  color: #f13506;
  font-weight: bold;
}

@media (max-width: 550px) {

  .item {
    display:flex;
    flex-direction: column;
  }

  .item * {
    padding: 0;
    margin: 0.2em auto;
  }

}

.create {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 2rem;
  color: #f1356d;
  margin-bottom: 30px;
}
.create input, .create textarea {
  width: 100%;
  padding: 6px 10px;
  margin: 1em 0;
  border: 1px solid rgb(212, 212, 212);
  box-sizing: border-box;
  display: block;
  background: transparent;
  outline: none;
}

.content {
  width: 100%;
  margin: 4em auto;
  padding: 20px;
}

.blog-list {
  display: grid;
  justify-items: flex-start;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  gap: 1em;
  padding-top: 2em;
}
.blog-details {
  padding: 2em;
  padding-left: 6em;
}
.blog-preview {
  background: #eeeeee1a;
  padding: 10px 20px;
  margin: 20px 0;
  width: 100%;
  height: 100%;
  max-width: 23em;
  box-shadow: 0 0 2px 0 #c3c3c3;
  border-radius: 5px;
}
.blog-preview:hover {
  background: #fff;
  box-shadow: 1px 3px 10px rgba(0,0,0,0.1),
              -1px -3px 10px rgba(0,0,0,0.1);
}
.blog-preview h2 {
  font-size: 24px;
  color: #f1356d;
  margin-bottom: 8px;
}

.blog-preview a{
  text-decoration: none;
}

.blog-preview p {
  display: flex;
  align-items: center;
}

.blog-title {
  border: none;
  background: transparent;
}

.blog-details button, .create button {
  background: rgba(246, 249, 255, 0.7);
  box-shadow: 2px 2px 4px 1px rgba(179, 179, 179, 0.7);
  color: var(--navy);
  font-weight: 600;
  border: 0;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 0.5rem;
  letter-spacing: 0.1ch;
  width: auto;
}

.blog-details button:active {
  box-shadow: 1px 1px 4px 0.3px rgba(179, 179, 179, 0.7);
}

.blog-details button:hover {
  color: var(--hover)
}

.blog-body {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  font-family: "Quicksand";
}

.blog-body p {
  margin: 0.5em;
  font-size: 2rem;
}

.blog-body textarea {
  resize: none;
  overflow: hidden;
  margin: 1em;
  border: none;
  outline:none;
  min-width: 400px;
  min-width: 800px;
  height: auto;
  font-size: 2rem;
  font-family: 'Crimson', sans-serif;
}

.primary__metadata, .secondary__metadata {
  font-family: 'Crimson', sans-serif;
  color: var(--star)
}

.blog-body-par {
  border: none;
  background-color: transparent;
  overflow: auto;
  width: 100%;
  height: fit-content;
  font-size: large;
  font-family: 'Quicksand', Courier, monospace;
  padding-left: 1rem;
}

/* .nav li:active {
  background: black;
} */

.blog-paragraph-container {
  display: flex;
  align-items: baseline;
}

.blog-paragraph-container div {
  margin: 0;
}

.par-edit-btns {
  display: flex;
}
.par-edit-btns * {
  margin: 0.2em;
  font-size: 1rem;
  opacity: 0.5;
  cursor: pointer;
}

.par-edit-btns *:hover {
  opacity: 1;
}

.interaction-bar__container {
  position: fixed;
  top: 0;
  left: 0;
  padding: 5em 0.2em;
  width: 5.5em;
  display: flex;
  height: 100%;
  flex-direction: column;
  background-color: #fcfcfc;
  box-shadow: 1px 0 5px 0 #dbdbdb;
  overflow-x: hidden;
  overflow-y: auto;
}

.icon {
  cursor: pointer;
  margin: 0.4em auto;
  font-size: 1.5em;
}

svg path {
  color: red;
}

svg:hover,
svg:active,
svg:focus {
  color: red;
}

.accordion__container {
  display: flex;
  border-bottom: 4px solid #222;
}

.accordion__frame {
  margin-bottom: 1em;
  max-width: 1200px;
}

.accordion__item {
  color: #ffffff;
  margin-bottom: 1em;
}

.accordion__item:first-of-type {
  margin-top: 1em;
}

.accordion__inner {
  display: flex;
  padding: 70px 45px;
  flex-direction: column;
  max-width: 815px;
  margin: auto;
}

.accordion__title {
  font-size: 50px;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 0.6em;
  color: rgb(255, 255, 255);
  text-align: center;
  
  @media (max-width: 600px) {
      font-size: 35px;
  }
}

.accordion__header {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: pointer;
  margin-bottom: 2px;
  font-size: 26px;
  color: white;
  font-weight: normal;
  background: #03045e;
  padding: 0.4em 0.6em 0.4em 0.6em;
  user-select: none;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  
  @media (max-width: 600px) {
        font-size: 16px;
    }
}

.accordion__header span {
    color: rgb(253, 253, 253);
    font-size: 1rem;
    margin-left: 1rem;
}

.accordion__body {
  box-sizing: border-box;
  transition: max-height 0.25s cubic-bezier(0.5, 0, 0.1, 1);
  font-size: 20px;
  font-weight: normal;
  line-height: normal;
  background: #0077b6;
  color: white;
  padding: 0.4em 0.6em 0.4em 0.6em;
  user-select: none;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  
  @media (max-width: 600px) {
    font-size: 16px;
    line-height: 22px;
  }
}

.logo-container {
  display: flex;
  align-items: baseline;
}
.logo {
  width: 41px;
  height: 41px;
  position: relative;
  margin-right: 1em;
  margin-bottom: 0.5em;
  color: var(--logo);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.logo::after{
  background: var(--logo-background);
  position: absolute;
  border-radius: 2px;
  transform: rotate(45deg);
  content: '';
  width: 13px;
  height: 13px;
  background: yellow;
  box-shadow: 8px 8px 0 0 red,
              -8px -8px 0 0 green,
              -8px 8px 0 0 blue,
              8px -8px 0 0 orange,
              0 0 10px 7px white;
}
.logo::before{
  left: 40px;
  background: var(--logo-background);
  position: absolute;
  border-radius: 2px;
  content: '';
  width: 13px;
  height: 13px;
  background: transparent;
  box-shadow: 13px 0px 0 0 gray,
              13px -13px 0 0 gray;
}

.logo-name {
  font-family: 'Orbitron';
  font-size: 1rem;
}
.dashboard__container {
  margin-top: 3em;
}

.dashboard__tabs{
  display: flex;
  align-items: center;
  justify-content: left;
  /* background: rgb(203, 206, 207); */
  padding-top: 1em;
}

.dashboard__tab {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
  width: 136.5px;
  margin: 0;
  cursor: pointer;
  padding: 0.3em 0.5em;
}

.active-tab {
  font-weight: 600;
}

.tabs-container {
  display: flex;
  flex-direction: column;
}

.slider-container {
  width: 100;
  background: rgb(217, 220, 221);
}

.slider {
  align-self: baseline;
  left: 0;
  padding: 0.06em;
  background-color: #444;
  border-radius: 50px;
  width: 110px;
  transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.dashboard__menu {
  position: fixed;
  top: 5em;
  z-index: 100;
  display: flex;
  flex-direction: column;
  transform: translateX(-100%);
  transition: all 250ms cubic-bezier(.5, 0, .5, 1);
  opacity: 0;
}

.user__menu__container {
  position: absolute;
  width: 17ch;
  top: 3.5em;
  right: 1em;
  z-index: 1;
  transition: all 250ms cubic-bezier(.5, 0, .5, 1);
  transform: translateX(200%);
  opacity: 0;
}

.user__menu-open {
  opacity: 1;
  transform: translateX(0%)
}

.profile__pic {
  cursor: pointer;
  text-align: center;
  border: 0.2px solid red;
  box-shadow: 0 0 0.5px 0.5px rgb(248, 133, 133),
              0 0 0.2px 0.2px rgb(221, 175, 175),
              0 0 0.5px 1px red;
}

.profile__pic span {
  vertical-align: middle;
  font-size: 1.7rem;
  text-shadow: rgb(51, 82, 117) 0px 0px 2px;
}

.signin-avatar {
  border: 1px solid red;
  color: red;
  margin: 0 auto;
}

.dashboard__menu,
.user__menu__container {
  background: #fefefe;
  padding: 0.5em 0;
  box-shadow: 2px 2px 6px 1px #eeeeee;
}

.dashboard__menu__list, .user__menu__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding-left: 0;
}

.user__menu__link {
  width: 100%;
  margin: 0.1em auto;
  padding: 0 0.3em;
  text-align: center;
}

.user__menu__link a {
  color: rgb(93, 82, 82);
  line-height: 2rem;
  text-decoration: none;
  letter-spacing: 0.05rem;
  font-size: 1rem;
}

.dashboard__menu__item {
  color: inherit;
  font-weight: 700;
  flex-basis: 100%;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
  margin: 0.2em;
}

.user__menu__link:hover {
  transition: 200ms;
  box-shadow: 0 5px 4px -4px rgb(200, 198, 198),
  0 -5px 4px -4px rgb(200, 198, 198);
}

.dashboard__menu__link:hover {
    color: #00aeff;
}

.dashboard__menu-open {
    transform: translateX(0%);
    opacity: 1;
}

.hamburger {
    display: flex;
    position: fixed;
    background: transparent;
    top: 5.5em;
    left: 1.2em;
    cursor: pointer;
    height: 15px;
    width: 1.4em;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 0.2em;
}

.hamburger::before {
  position: absolute;
  content: "";
  background: gray;
  width: 1.4em;
  height: 3px;
  border-radius: 1em;
  box-shadow: 0 6px 0 0 gray,
  0 -6px 0 0 gray;
}

.cross::before,
.cross::after,
.hamburger::before,
.hamburger::after {
  transition: all 190ms ease-in;
}

.hamburger::after {
  position: absolute;
  content: "";
  background: gray;
  width: 1.4em;
  height: 3px;
  border-radius: 1em;
}

.cross::after {
  transform: rotate(45deg) scaleX(0.7);  
  background: gray;
}

.cross::before {
  transform: rotate(-45deg) scaleX(0.7);
  box-shadow: 0 0 0 0 gray;
}

.markdown {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  box-sizing: border-box;
  padding: 0 1.5em;
}

.markdown p {
  color:rgb(65, 63, 63);
}

.markdown h1 {
  color: var(--cerulean);
  font-size: 3.5rem;
}

.markdown blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.15em 10px;
}

.markdown pre { 
  background: #f8f8f8;
  padding: 10px;
}

.markdown img {
  width: 100%;
}

.markdown table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border: 1px solid #dee2e6;
    border-collapse: collapse;
    border-spacing: 2px;
}

.markdown thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

.markdown tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.markdown th, .markdown td {
  border: 2px solid #dee2e6;
}

.markdown td, .markdown th {
  padding: 5px;
}
