@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  color: #333;
}

body {
  margin: 0 auto;
  font-size: 20px;
  min-width: 350px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  margin: 1em auto;
  text-align: center;
}
.app {
  width: 100%;
  max-width: 680px;
  background-color: #f1f6f8;
  margin: 0 auto;
  margin-bottom: 0.5em;
  padding-bottom: 0.2em;
  color: black;
}

.form-area {
    border: solid 0.8px white;
    margin: 0.8em;
    padding: 0.4em;
}

.app ul {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  list-style: none;
  background-color: #dde3e7;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 1em;
}

.app li:hover {
  border-radius: 5px;
  transition: 300ms;
}

.app li a {
  color: rgb(93, 82, 82);
  margin: 0 auto;
  padding: 0 0.5em;
  line-height: 2rem;
  text-decoration: none;
  letter-spacing: 0.05rem;
  font-size: 1rem;
}

.app li a:hover {
  color: red;
}


.label, .input, .btn {
  margin: 0.4em 0.3em;
  line-height: 1.4rem;
  font-size: 0.9rem;
  border-radius: 4px;
}

.label {
  margin-bottom: 0.2em;
  text-transform: uppercase;
}

.input {
  padding: 0.3em 0.8em;
  border: none;
}

.btn, .btn-google, .error {
  color: white;
  padding: 0.3em 1.5em;
  cursor: pointer;
  transition: 400ms;
  letter-spacing: 0.1rem;
  margin: 0.7em;
  border: none;
}
.btn-reset {
  background-color: rgb(59, 67, 139);
}

.btn-signin {
  background-color: rgb(59, 139, 83);
}
.btn-google {
  background-color: rgb(148, 71, 71);
}
.btn-signup {
  background-color: rgb(139, 89, 189);
}
.btn:hover {
  letter-spacing: 0.12rem;
}
.error {
  background-color: rgb(255, 173, 173);
  font-weight: 500;
  color: rgb(184, 0, 0);
  padding: 0.5em;
  margin: 0 auto;
  text-align: center;
}
.success {
  background-color: rgb(173, 255, 174);
  font-weight: 500;
  color: rgb(0, 146, 2);
  padding: 0.5em;
  margin: 0 auto;
  text-align: center;
}
.sub-link {
  text-decoration: none;
  font-size: 0.8rem;
  margin: 0 auto;
}

.search-result-list {
  padding: 1em;
}

.search-result-item {
  color: rgba(110, 220, 0, 0.8);
  text-align: center;
}

.item {
  padding: 2em 3em;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.25);
  margin-bottom: 1em;
  font-size: 1rem;
  background-color: #697080;
  display: grid;
  grid-template-rows: 1fr auto 1.2em 1em;
}

.item--image {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  margin: 0 auto;
  border: 1px solid rgba(127, 248, 7, 0.8);
  text-align: center;
}

.title {
  color: whitesmoke;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  text-shadow: 1px 1px 15px rgba(128, 255, 0, 0.8);
  letter-spacing: 0.08rem;
}
.description {
  margin: 0 1em;
  color: whitesmoke;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 6;
  text-align: justify;
  letter-spacing: 0.02rem;
  align-self: center;
}

.small {
  font-size: 0.7rem;
  text-align: center;
}

span {
  color: rgba(127, 248, 7, 0.8);
  font-weight: bold;
}

@media (max-width: 550px) {

  .item {
    display:flex;
    flex-direction: column;
  }

  .item * {
    padding: 0;
    margin: 0.2em auto;
  }

}

.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create input, .create textarea {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
.blog-list, .blog-details {
  padding-top: 2em;
}
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}

.blog-preview a{
  text-decoration: none;
}

.blog-details h2, .blog-title {
  font-size: 30px;
  color: #f1356d;
  margin-bottom: 10px;
}

.blog-title {
  border: none;
  background: transparent;
}
.blog-details div {
  margin: 20px 0;
}
.blog-details p {
  margin: 20px 0;
}
.blog-details button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 0.5rem;
}
.blog-body {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  font-family: "Quicksand";
}

.blog-author, .blog-date {
  font-size: 14px;
}

.blog-body-par {
  border: none;
  background-color: transparent;
  overflow: visible;
  width: 100%;
  font-size: large;
  font-family: 'Quicksand', Courier, monospace;
}
.nav {
  position: fixed;
  top:0;
  width: 100%;
  max-width: 640px;
  padding-top: 1em;
}

.blog-paragraph-container {
  display: flex;
  align-items: baseline;
}
.par-edit-btns {
  display: flex;
  flex-direction: column;
}
.par-edit-btns > button {
  height: 1.5em;
  width: 1.4em;
  margin: 0.2em;
  padding: 0.12em;
  font-weight: 900;
  font-size: 1rem;
  background:#f5afaf;
}

.par-edit-btns > button:hover {
  opacity: 1;
}

.interaction-bar__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.accordion__container {
  display: flex;
  border-bottom: 4px solid #222;
}

.accordion__frame {
  margin-bottom: 1em;
  max-width: 1200px;
}

.accordion__item {
  color: rgb(251, 12, 12);
  margin-bottom: 1em;
}

.accordion__item:first-of-type {
  margin-top: 1em;
}

.accordion__inner {
  display: flex;
  padding: 70px 45px;
  flex-direction: column;
  max-width: 815px;
  margin: auto;
}

.accordion__title {
  font-size: 50px;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 0.6em;
  color: rgb(253, 1, 1);
  text-align: center;
  
  @media (max-width: 600px) {
      font-size: 35px;
  }
}


.accordion__header {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: pointer;
  margin-bottom: 2px;
  font-size: 26px;
  font-weight: normal;
  background: #e5cfcf;
  padding: 0.4em 0.6em 0.4em 0.6em;
  user-select: none;
  align-items: center;
  width: 100%;
  
  @media (max-width: 600px) {
        font-size: 16px;
    }
}

.accordion__header span {
    color: rgb(105, 5, 5);
    font-size: 1rem;
    margin-left: 1rem;
}

.acordion__header img {
  filter: brightness(0) invert(1);
  width: 24px;
  
  @media (max-width: 600px) {
      width: 16px;
  }
}

.accordion__body {
  box-sizing: border-box;
  transition: max-height 0.25s cubic-bezier(0.5, 0, 0.1, 1);
  font-size: 20px;
  font-weight: normal;
  line-height: normal;
  background: #ddb5b5;
  padding: 0.4em 0.6em 0.4em 0.6em;
  user-select: none;
  align-items: center;
  width: 100%;
  
  @media (max-width: 600px) {
    font-size: 16px;
    line-height: 22px;
  }
}
  